.dialog {
  padding: 2rem;
  position: fixed;
  inset: 0;
  border: 2px solid var(--color-grey-300);
  border-radius: var(--radius-md);
  min-height: 30vh;
}

.close {
  margin: 0;
  border: 0;
  display: block;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
}
